In [5]:
# ============================================================
# MATERNITY EPISODE ANALYTICS
# Real-world payer/provider consulting style analysis
# Analyst: Varun
# Goal: Identify pregnancy risks, utilization, and cost drivers
# ============================================================

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", 200)

print("Environment ready")

Environment ready

In [6]:
# ================================
# LOAD RAW CLAIMS DATA
# ================================

import pandas as pd

members = pd.read_csv("../data/Members.csv")
med = pd.read_csv("../data/ClmsMeds.csv")
rx = pd.read_csv("../data/ClmsRx.csv")

print("Members:", members.shape)
print("Medical claims:", med.shape)
print("Rx claims:", rx.shape)

Members: (37152, 10)
Medical claims: (220474, 69)
Rx claims: (19626, 29)

In [16]:
#Standardize column names

# make column names lowercase
members.columns = members.columns.str.lower()
med.columns = med.columns.str.lower()
rx.columns = rx.columns.str.lower()

rx.head()

,claimid,fromdate,memberid,gender,paiddate,ndc,encounterflag,medicalcovered,providerid,mailorder,ingredientcost,dispensingfee,billed,allowed,paid,cob,copay,coinsurance,deductible,patientpay,units,dayssupply,quantitydispensed,oon,claimlinestatus,lob,formularyindicator,demographicgroup,yob
0,31B3XBED,2022-09-20,Y78UOO,F,2022-09-20,08627005303,N,N,HVOXBY,R,348.28,0.75,433.31,349.03,319.18,0.0,0.0,29.85,0.00,29.85,3.0,30,3.0,N,P,COM,Y,Wives,1992
1,8N54LC2Z,2022-08-27,7V9BXL,F,2022-08-28,65162046510,N,N,G91NON,R,10.41,1.30,11.71,11.71,0.00,0.0,0.0,0.00,11.71,11.71,30.0,7,30.0,N,P,COM,Y,Female Ee,1991
2,UUGDVVSB,2021-06-25,92NMGM,F,2021-07-03,11822308910,N,N,Z07VGI,R,1.49,0.60,2.09,2.09,2.09,0.0,0.0,0.00,0.00,0.00,30.0,30,30.0,N,P,COM,N,Female Ee,1997
3,LIBLUZN0,2021-12-01,E8RHQK,F,2021-12-01,69238209503,N,N,4HTF33,R,420.04,0.70,2102.70,420.74,410.74,0.0,10.0,0.00,0.00,10.00,30.0,30,30.0,N,P,COM,Y,Female Ee,1978
4,VRTULJDM,2022-10-08,D72FWJ,F,2022-10-08,42806016105,N,N,MCJ6WY,R,1.55,0.10,29.57,1.65,0.00,0.0,0.0,1.65,0.00,1.65,60.0,15,60.0,N,P,COM,Y,Wives,1989

In [11]:
#Convert dates properly 
date_cols = ["fromdate","todate","admitdate","dischdate","paiddate"]



for col in date_cols:
    if col in med.columns:
        med[col] = pd.to_datetime(med[col], errors="coerce")

med[date_cols].head()


# ================================
# RX DATE CLEANING
# ================================

rx_date_cols = ["filldate", "paiddate"]

for col in rx_date_cols:
    if col in rx.columns:
        rx[col] = pd.to_datetime(rx[col], errors="coerce")

rx.head()

,claimid,fromdate,memberid,gender,paiddate,ndc,encounterflag,medicalcovered,providerid,mailorder,ingredientcost,dispensingfee,billed,allowed,paid,cob,copay,coinsurance,deductible,patientpay,units,dayssupply,quantitydispensed,oon,claimlinestatus,lob,formularyindicator,demographicgroup,yob
0,31B3XBED,2022-09-20,Y78UOO,F,2022-09-20,08627005303,N,N,HVOXBY,R,348.28,0.75,433.31,349.03,319.18,0.0,0.0,29.85,0.00,29.85,3.0,30,3.0,N,P,COM,Y,Wives,1992
1,8N54LC2Z,2022-08-27,7V9BXL,F,2022-08-28,65162046510,N,N,G91NON,R,10.41,1.30,11.71,11.71,0.00,0.0,0.0,0.00,11.71,11.71,30.0,7,30.0,N,P,COM,Y,Female Ee,1991
2,UUGDVVSB,2021-06-25,92NMGM,F,2021-07-03,11822308910,N,N,Z07VGI,R,1.49,0.60,2.09,2.09,2.09,0.0,0.0,0.00,0.00,0.00,30.0,30,30.0,N,P,COM,N,Female Ee,1997
3,LIBLUZN0,2021-12-01,E8RHQK,F,2021-12-01,69238209503,N,N,4HTF33,R,420.04,0.70,2102.70,420.74,410.74,0.0,10.0,0.00,0.00,10.00,30.0,30,30.0,N,P,COM,Y,Female Ee,1978
4,VRTULJDM,2022-10-08,D72FWJ,F,2022-10-08,42806016105,N,N,MCJ6WY,R,1.55,0.10,29.57,1.65,0.00,0.0,0.0,1.65,0.00,1.65,60.0,15,60.0,N,P,COM,Y,Wives,1989

In [12]:
# ================================
# MEMBERS DATE CLEANING
# ================================

# yearmo → convert to string (important for joins later)
if "yearmo" in members.columns:
    members["yearmo"] = members["yearmo"].astype(str)

members.head()

  memberid  yearmo  depcode gender  lob  medical  dental  rx  vision   yob
0   IT7IVA  202202        1      F  COM        1       0   1       0  1995
1   5AGG55  202206        0      F  COM        1       0   0       0  1997
2   FQ229R  202108        0      F  COM        1       0   1       0  1988
3   KA0I3H  202112        1      F  COM        1       0   1       1  1991
4   NX0U1Q  202210        0      F  COM        1       0   0       0  1987

In [13]:
# ================================
# RX DATE CLEANING
# ================================

rx_date_cols = ["filldate", "paiddate"]

for col in rx_date_cols:
    if col in rx.columns:
        rx[col] = pd.to_datetime(rx[col], errors="coerce")

rx.head()

,claimid,fromdate,memberid,gender,paiddate,ndc,encounterflag,medicalcovered,providerid,mailorder,ingredientcost,dispensingfee,billed,allowed,paid,cob,copay,coinsurance,deductible,patientpay,units,dayssupply,quantitydispensed,oon,claimlinestatus,lob,formularyindicator,demographicgroup,yob
0,31B3XBED,2022-09-20,Y78UOO,F,2022-09-20,08627005303,N,N,HVOXBY,R,348.28,0.75,433.31,349.03,319.18,0.0,0.0,29.85,0.00,29.85,3.0,30,3.0,N,P,COM,Y,Wives,1992
1,8N54LC2Z,2022-08-27,7V9BXL,F,2022-08-28,65162046510,N,N,G91NON,R,10.41,1.30,11.71,11.71,0.00,0.0,0.0,0.00,11.71,11.71,30.0,7,30.0,N,P,COM,Y,Female Ee,1991
2,UUGDVVSB,2021-06-25,92NMGM,F,2021-07-03,11822308910,N,N,Z07VGI,R,1.49,0.60,2.09,2.09,2.09,0.0,0.0,0.00,0.00,0.00,30.0,30,30.0,N,P,COM,N,Female Ee,1997
3,LIBLUZN0,2021-12-01,E8RHQK,F,2021-12-01,69238209503,N,N,4HTF33,R,420.04,0.70,2102.70,420.74,410.74,0.0,10.0,0.00,0.00,10.00,30.0,30,30.0,N,P,COM,Y,Female Ee,1978
4,VRTULJDM,2022-10-08,D72FWJ,F,2022-10-08,42806016105,N,N,MCJ6WY,R,1.55,0.10,29.57,1.65,0.00,0.0,0.0,1.65,0.00,1.65,60.0,15,60.0,N,P,COM,Y,Wives,1989

In [17]:
print("Members shape:", members.shape)
print("Medical claims shape:", med.shape)
print("Rx claims shape:", rx.shape)

Members shape: (37152, 10)
Medical claims shape: (220474, 69)
Rx claims shape: (19626, 29)

In [18]:
# --------------------------------------------
# STEP 1: IDENTIFY DELIVERY CLAIMS
# --------------------------------------------

delivery_drgs = [
    '768','783','784','785','786','787','788',
    '796','797','798',
    '805','806','807'
]

deliveries = med[
    (med['drg'].isin(delivery_drgs)) &
    (med['servicetype'] == 'IP') &
    (med['admitdate'].notna())
].copy()

print("Delivery claim lines found:", deliveries.shape)
deliveries[['memberid','admitdate','dischdate','drg']].head()

Delivery claim lines found: (0, 69)

Empty DataFrame
Columns: [memberid, admitdate, dischdate, drg]
Index: []

In [19]:
med['servicetype'].value_counts().head(20)

array([786., 807., 787., 776., 621., 788., 833., 783.,   4., 806., 805.,
       768., 785., 872., 784., 419., 798., 794., 175., 779., 445., 832.,
       769., 457., 743., 797., 812., 831., 770., 391.])

In [20]:
med['servicetype'].value_counts().head(20)

servicetype
PO    134215
OP     53544
IP     29636
PA      2912
PH       167
Name: count, dtype: int64

In [21]:
#Clean DRG'S

med['drg_clean'] = (
    med['drg']
    .astype(str)
    .str.replace('.0','', regex=False)
    .str.strip()
)

med[['drg','drg_clean']].head(10)

   drg drg_clean
0  NaN       NaN
1  NaN       NaN
2  NaN       NaN
3  NaN       NaN
4  NaN       NaN
5  NaN       NaN
6  NaN       NaN
7  NaN       NaN
8  NaN       NaN
9  NaN       NaN

In [22]:
#Rerunning the logic after cleaning DRG's

delivery_drgs = [
'768','783','784','785','786','787','788',
'796','797','798',
'805','806','807'
]

deliveries = med[
    (med['drg_clean'].isin(delivery_drgs)) &
    (med['servicetype'] == 'IP') &
    (med['admitdate'].notna())
].copy()

print("Delivery claim lines found:", deliveries.shape)
deliveries[['memberid','admitdate','dischdate','drg_clean']].head()

Delivery claim lines found: (28121, 70)

   memberid  admitdate  dischdate drg_clean
22   NS1XD8 2022-09-07 2022-09-10       786
25   V8KJD5 2022-08-19 2022-08-23       807
27   INV1IX 2022-07-06 2022-07-08       787
50   44A4P1 2022-09-10 2022-09-13       786
63   C07XEW 2022-08-03 2022-08-05       788

In [23]:
# =========================================
# STEP 2 — BUILD DELIVERY EPISODES
# One row = one delivery per member
# =========================================

episodes = (
    deliveries
    .groupby('memberid')
    .agg(
        delivery_admit = ('admitdate','min'),
        delivery_disch = ('dischdate','max'),
        drg = ('drg_clean','first')
    )
    .reset_index()
)

print("Unique delivery episodes:", episodes.shape)
episodes.head()

Unique delivery episodes: (1993, 4)

  memberid delivery_admit delivery_disch  drg
0   00017Q     2022-07-01     2022-07-03  807
1   00P8P1     2022-09-02     2022-09-04  807
2   00PDBG     2022-07-03     2022-07-06  787
3   00WM44     2022-08-13     2022-08-15  787
4   015BZ7     2022-08-16     2022-08-18  807

In [25]:
# =========================================
# STEP 3 — ATTACH MEDICAL COST TO EPISODES
# =========================================

# Merge episodes back to all claims for same member
episode_claims = med.merge(
    episodes[['memberid','delivery_admit','delivery_disch']],
    on='memberid',
    how='inner'
)

print("Merged rows:", episode_claims.shape)

Merged rows: (220110, 72)

In [27]:
#filter pregnancy 
# Create pregnancy start (280 days before delivery)
episode_claims['preg_start'] = episode_claims['delivery_admit'] - pd.Timedelta(days=280)

# Keep claims during pregnancy window
episode_claims = episode_claims[
    (episode_claims['fromdate'] >= episode_claims['preg_start']) &
    (episode_claims['fromdate'] <= episode_claims['delivery_disch'])
]

print("Claims in pregnancy window:", episode_claims.shape)

Claims in pregnancy window: (157293, 73)

In [28]:
episode_cost = (
    episode_claims
    .groupby('memberid')['paid']
    .sum()
    .reset_index()
    .rename(columns={'paid':'total_medical_cost'})
)

print("Episode cost table:", episode_cost.shape)
episode_cost.head()

Episode cost table: (1961, 2)

  memberid  total_medical_cost
0   00017Q             8021.34
1   00P8P1            13332.89
2   00PDBG            20397.16
3   00WM44            24838.50
4   015BZ7            25807.81

In [29]:
episodes = episodes.merge(episode_cost, on='memberid', how='left')

print("Episodes with cost:", episodes.shape)
episodes.head()

Episodes with cost: (1993, 5)

  memberid delivery_admit delivery_disch  drg  total_medical_cost
0   00017Q     2022-07-01     2022-07-03  807             8021.34
1   00P8P1     2022-09-02     2022-09-04  807            13332.89
2   00PDBG     2022-07-03     2022-07-06  787            20397.16
3   00WM44     2022-08-13     2022-08-15  787            24838.50
4   015BZ7     2022-08-16     2022-08-18  807            25807.81

In [30]:
print("Average pregnancy cost: $", round(episodes['total_medical_cost'].mean(),2))
print("Median pregnancy cost: $", round(episodes['total_medical_cost'].median(),2))
print("Max pregnancy cost: $", round(episodes['total_medical_cost'].max(),2))

Average pregnancy cost: $ 19472.25
Median pregnancy cost: $ 16105.71
Max pregnancy cost: $ 198343.89